<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../css/style.css" rel="stylesheet">
    </head>

    <body>
        <%- include('../layout/header.ejs')  %> 

    <main>
        
    
<section class="grid-fav">

    <% array.forEach(el=> { %>
     <section>
         <h1><%= el.character %></h1>
         <p><%= el.quote %></p>
<a href="/favorite-quotes/<%= el.id %>"><img src="<%= el.image %>" alt=""></a>

     </section>
    <% }) %>

</section>

    </main>

    </body>
</html>